* {
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    left: 0;
    height: 100vh;
    width: 10rem;
    background-color: aqua;
}

.createCardContainer,
.editCardContainer,
.deleteCardContainer,
.cardDisplayer {
    display: none;
}

.createCardContainer.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 30rem;
}

.editCardContainer.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 30rem;
}

.editCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deleteCardContainer.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 30rem;
}

.deleteCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardDisplayer.active {
    display: flex;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
}

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    width: 20rem;
    height: 30rem;
    border: red solid 1px;
}

.textBody {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

textarea {
    resize: none;
}

#title,
#textBody {
    text-align: center;
}
