* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --pruple: rgba(125, 38, 163, 1);
    --veryDarkBlue: rgba(2, 0, 36, 1);
    --veryDarkBlueTransparant1: rgba(2, 0, 36, 0.3);
    --veryDarkBlueTransparant2: rgba(2, 0, 36, 0.6);
    --DarkTransparant: rgba(1, 1, 1, 0.27);
}

body {
    font-family: "Inter", "sans-serif" !important;
    background: rgb(2, 0, 36);
    background: linear-gradient(
        -45deg,
        var(--veryDarkBlue) 0%,
        var(--pruple) 70%
    );
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    overflow-x: hidden;
}

.sidebar {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    left: 0;
    height: 100vh;
    width: 10rem;
    background: linear-gradient(
        -110deg,
        var(--veryDarkBlueTransparant1) 0%,
        var(--veryDarkBlueTransparant2) 95%
    );
    color: white;
}
.buttomContainer {
    display: flex;
    flex-direction: column;
}
.sidebar button {
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: x-large;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    text-indent: 6px;
}
.sidebar button::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    margin-top: 1vh;
}
.logout {
    color: inherit;
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 2vh;
}

.logout::before {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    margin-bottom: 1vh;
    background-color: white;
}
.sidebar button {
    color: white;
    background-color: transparent;
}

.createCardContainer,
.editCardContainer,
.deleteCardContainer,
.cardDisplayer,
.cardDisplayerSection {
    display: none;
}

.createCardContainer.active,
.editCardContainer.active,
.deleteCardContainer.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    width: fit-content;
    border: 2px solid white;
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
    gap: 1vh;
    color: white;
}

.createCardContainer > * {
    display: block;
}

.titleWraper > *,
.bodyWraper > * {
    display: block;
}

.titleWraper,
.cardCategory,
.bodyWraper {
    width: -webkit-fill-available;
}

.titleWraper input,
.cardCategory {
    width: 100%;
    font-size: 20px;
    padding: 0px 5px 0px 5px;
}
input,
select,
textarea {
    background-color: var(--DarkTransparant);
    border: 2px solid white;
    border-radius: 8px;
    color: white;
}
textarea {
    border-radius: 15px;
    padding: 5px 8px 5px 8px;
    font-size: 18px;
}
option {
    color: black;
}
.createCardContainer label,
.editCardContainer label {
    font-size: 26px;
}
form {
    gap: 1vh;
}
h1 {
    font-size: 28px;
}

.createCardContainer button,
.editCardContainer button,
.deleteCardContainer button {
    background-color: var(--DarkTransparant);
    font-size: 24px;
    color: white;
    width: -webkit-fill-available;
    border: 2px solid white;
    border-radius: 8px;
    padding: 2px 0px 2px 0px;
}

.editCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.deleteCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.createCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardDisplayerSection.active {
    display: block;
    position: absolute;
    margin-left: 10rem;
    bottom: 0px;
    left: 0px;
    width: -webkit-fill-available;
}

.cardDisplayer.active {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5vw;
    overflow-x: scroll;
    cursor: grab;
}

#cardSort {
    margin-bottom: 5px;
}

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    width: 18rem;
    height: 26rem;
    border: white solid 2px;
    border-radius: 15px;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
}

.categoryIcon {
    display: flex;
    justify-self: center;
    background-color: white;
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    margin: 0;
    border: 1px solid black;
}

.categoryIcon img {
    height: 4.5rem;
    width: 4rem;
}

.cardContainer.Character,
.cardContainer.Country,
.cardContainer.Technology {
    display: flex;
}

.cardContainer.Character.hide,
.cardContainer.Country.hide,
.cardContainer.Technology.hide {
    display: none;
}

.textBody {
    overflow: auto;
}

textarea {
    resize: none;
    width: 100%;
}

#title,
#textBody {
    text-align: center;
}
